@import 'libs/bootstrap-reboot.min';
@import 'blocks/divider';
@import 'blocks/title';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/roadmap';
@import 'blocks/tokenomika';
@import 'blocks/guide';
@import 'blocks/memes';
@import 'blocks/footer';

* {
    font-family: "Indie Flower", cursive;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    width: 1140px;
    margin: 0 auto;
}

@import "blocks/media";