.footer {
    padding: 10px 0;
    min-height: 300px;  
    background: linear-gradient(90deg, rgba(15,57,114,1) 0.1%, rgba(44,232,239,1) 57%, rgba(127,119,188,1) 115%);
    .divider {
        width: 80%;
        height: 4px;
        margin-top: 0;
    }
    &-wrapper {
        border: 4px solid black;
        background: #66c3d6;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        width: 760px;
        margin: 80px auto 0 auto;
    }
    &__text {
        font-weight: 600;
        font-size: 28px;
        text-align: center;
        line-height: 50px;
 
    }
    &__model {
        width: 250px;
        height: 150px;
        position: absolute;
        &:nth-child(1) {
            top: 20%;
            left: -24%;
        }
        &:nth-child(2) {
            top: 20%;
            right: -24%;
        }
    }
}