.footer {
    min-height: 500px;
    background: rgb(16,63,118);
    background: linear-gradient(90deg, rgb(0, 40, 96) 0.1%, rgb(47, 226, 232) 57%, rgb(155, 141, 255) 115%);
    .divider {
        width: 80%;
        height: 4px;
        margin-top: 0;
    }
    &-wrapper {
        position: relative;
        margin: 200px auto 0 auto;
        width: 760px;
    }
    &__text {
        font-size: 28px;
        text-align: center;
    }
    &__model {
        width: 250px;
        height: 150px;
        position: absolute;
        &:nth-child(1) {
            top: 20%;
            left: -24%;
        }
        &:nth-child(2) {
            top: 20%;
            right: -24%;
        }
    }
}