.roadmap {
    padding-top: 120px;
    min-height: 1000px;
    background: rgb(15,57,114);
    background: linear-gradient(90deg, rgba(15,57,114,1) 0.1%, rgba(44,232,239,1) 57%, rgba(127,119,188,1) 115%);
    &__title {
        margin-top: 20px;
    }
    &__divider {
        width: 500px;
    }
    &-wrapper {
        display: grid;
        grid-template-rows: repeat(2, minmax(150px, auto));
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        justify-items: center;
        padding: 20px 65px 0 65px;
        gap: 170px;
    }
    &__item {
        position: relative;
        padding: 15px;
        width: 100%;
        height: 200px;
        background: rgb(48, 236, 253);
        border: 3px solid rgb(0, 41, 47);
        border-radius: 5px;
        border-radius: 10% ;
        box-shadow: 5px 3px 7px ;
        &::before {
            position: absolute;
            content: '';
            height: 6px;
            width: 530px;
            background: rgb(0, 0, 0);
            border-radius: 4px;
            bottom: -68px;
            left: -73px;
        }
        &:last-child {
            &::after {
                position: absolute;
                content: '';
                height: 376px;
                width: 6px;
                background: rgb(0, 0, 0);
                top: -114px;
                right: -113px;

            }
        }
        &-title {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 3;
            font-size: 18px;
            &::after {
                content: '';
                z-index: -1;
                position: absolute;
                top: 39px;
                left: 30px;
                background: rgb(0, 0, 0);
                height: 20px;
                width: 8px;
            }
            &::before {
                content: '';
                z-index: -1;
                position: absolute;
                height: 30px;
                width: 30px;
                right: 50%;
                top: 3px;
                transform: translateX(50%);
                border-radius: 100%;
                background: #3afff8;
            }
            
            
        }
        &-list {
            &__item {
                list-style-type: none;
                font-size: 26px;
            }
        }
    }
}
